.main_div{
   text-align: center;
    margin-top: 10%;
}
.error_Text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    color: grey;
}
.error_Text_2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: blue;
}