body{
    background-color: white;
}
.main_conatiner{
    padding: 5%;
}
.close{
    position: absolute;
    top: 3%;
    right: 4%;
}
.close:active{
    transform: scale(1.2);
}
.head{
    text-align: start;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: blue;
    font-size: 1.2em;
    margin: auto;
    margin-left: 2%;
}
.main_txt{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 2.5em;
    text-align: start;
    margin-left: 2%;
    color: blue;
    text-shadow: 0 4px 5px rgba(128, 128, 128, 0.212);
}
.main_cont{
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
    border: none;
    box-shadow: 0 0 4px 5px rgba(128, 128, 128, 0.062);
    padding: 4%;
}
.input_txt{
    text-align: center;
    border: none;
    border-radius: 6px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 1.2em;
    margin-top: 10%;
    padding: 5%;
    box-shadow: 0 0 4px 5px rgba(128, 128, 128, 0.096);
}
.textarea_inpu{
    text-align: start;
    border: none;
    border-radius: 6px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 1.2em;
    margin-top: 10%;
    margin-bottom: 5%;
    padding: 15%;
    box-shadow: 0 0 4px 5px rgba(128, 128, 128, 0.096);
}
.send_btn{
    margin: 6%;
    margin-bottom: 10%;
    cursor: pointer;
    padding: 5% 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    border: none;
    border-radius: 10px;
    background-color: blue;
    color: white;
}
.send_btn:active{
    background-color: rgb(79, 79, 228);
}
.footer{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: black;
}

@media (min-width: 920px){
    .main_cont{
        margin-bottom: 20%;
        width: 50%;
        margin-left: 40%;
        padding: 2%;
    }
    .input_txt{
        padding: 2%;
        border-radius: 2%;
    }
    .send_btn{
        padding: 2% 2%;
    }
}