.main_cont{
    background-color: rgba(73, 73, 73, 0.514);
    backdrop-filter: blur(15px);
    position: fixed;
    z-index: 500;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    height: 65vh;
    border-radius: 14px;
    animation: 0.58s intro ease-in;
}
@keyframes intro {
    0%{
        bottom: -100%;
    }
    100%{
        bottom: 0;
    }
}
.logo{
    text-align: center;
    padding: 3%;
}
.img{
    border-radius: 10%;
}
.Trans_deatails_inputs{
    display: flex;
    flex-direction: column;
    padding: 3%;
    margin: 4%;
    border-radius: 10px;
    text-align: center;
    background-color: rgba(209, 209, 209, 0.288);
}
.pay_input{
    margin: 3%;
    padding: 3%;
    border: none;
    border-radius: 10px;
}
.cont_btn{
    background-color: blue;
    color: white;
    padding: 4% 10%;
    border: none;
    border-radius: 10px;
    text-align: center;
}
.cont_btn:active{
    background-color: rgb(124, 124, 202);
}
.total_con{
    display: flex;
    flex-direction: row;
}
.total_hed{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}
.total_txt{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    margin: auto;
}

@media (min-width: 650px) {
    .main_cont{
        left: 20%;
        right: 20%;
        bottom: 5%;
        height: auto;
    }
    .cont_btn{
        padding: 2% 5%;
        margin: 3%;
    }
}